<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー削除確認画面</title>
</head>
<body>
	<h3>ユーザー削除確認画面</h3>
	  <form th:action="@{/user/delete}" th:object="${userRequest}" method="post">
		<p>以下の内容を削除しますか？ああああああああああ！</p>

		<div th:inline="text">
			<label for="name" >名前:</label>
			<span>[[*{name}]]<span>	
			<br>
			<label for="email">メールアドレス:</label>
			<span>[[*{email}]]<span>	
			<br>
			<label for="age">年齢:</label>
			<span>[[*{age}]]<span>	
			<br>			
			<button>削除</button>
			<br>
			
		</div>
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{name}">
		<input type="hidden" th:field="*{email}">
		<input type="hidden" th:field="*{age}">
	  </form>
	  
	  <div th:if="${validationError}" th:each="error : ${validationError}">
	    <label style="color: red" th:text="${error}"></label>
	  </div>
</body>
</html>